.nav-tab-wrapper {
    border-bottom: 0px solid #ccc;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: inherit;
}
.nav-tab {
    float: left;
    border: 1px solid rgba(255,255,255,.15);
    border-bottom: navy;
    margin-left: 0.3em;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 20px;
    background: #bbb;
    color: #5a1206;
}

.nav-tab-active{
    border-bottom: 1px solid #f1f1f1;
    background: #f1f1f1;
    color: #000;
}
input[value="Save changes"] {

    visibility: hidden;
}
.mo_login_help_desc {
    font-size:13px;
    border-left:solid 2px rgba(128, 128, 128, 0.65);
    margin-top:10px;
    padding-left:10px;
}

input[type=text],select {
width: 350px;
border-radius: 4px;
box-sizing: border-box;
display: inline-block;
border: 1px solid #ccc;
padding: 6px 20px;
border-color: rgba(0, 0, 0, 0.13);
}
input[type=tel],select {
width: 350px;
border-radius: 4px;
box-sizing: border-box;
display: inline-block;
border: 1px solid #ccc;
padding: 6px 20px;
border-color: rgba(0, 0, 0, 0.13);
}
input[type=email],select {
width: 350px;
border-radius: 4px;
box-sizing: border-box;
display: inline-block;
border: 1px solid #ccc;
padding: 6px 20px;
border-color: rgba(0, 0, 0, 0.13);
}
input[type=password],select {
width: 350px;
border-radius: 4px;
box-sizing: border-box;
display: inline-block;
border: 1px solid #ccc;
padding: 6px 20px;
border-color: rgba(0, 0, 0, 0.13);
}